<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-5 mb-5">
      <h1 class="mb-5">Create a Product</h1>
      <form (submit)="onCreate(createProduct)" #createProduct="ngForm">

        <div class="form-group">
          <label for="categoryImage">Product Image</label>
          <input type="text" class="form-control" ngModel #imageInput="ngModel" name="image" id="categoryImage" placeholder="please paste a valid image link" required>
        </div>

        <div class="form-group">
          <label for="productCategory">Product Category</label>
          <select class="form-control" id="productCategory" ngModel #category_idInput="ngModel" name="category_id">
            <option *ngFor="let category of categories | async" value="{{category._id}}">{{category.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="productName">Product name</label>
          <input type="text" class="form-control" ngModel #nameInput="ngModel" name="name" id="productName" placeholder="product name">
        </div>

        <div class="form-group">
          <label for="productBrand">Product brand</label>
          <input type="text" class="form-control" ngModel #brandInput="ngModel" name="brand" id="productBrand" placeholder="product brand">
        </div>

        <div class="form-group">
          <label for="categoryName">Product price</label>
          <input type="number" class="form-control" ngModel #priceInput="ngModel" name="price" id="categoryName" placeholder="price">
        </div>

        <div class="form-group">
          <label for="description">Product Description</label>
          <textarea class="form-control" ngModel #descriptionInput="ngModel" name="description" id="description" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-success" >Create</button>
      </form>

    </div>
  </div>
</div>


