<header class="homeHeader">
    <video autoplay muted loop id="homeHeaderVideo" >
        <source src="../../../assets/header_video.mp4" type="video/mp4">
    </video>
    <div class="content">
        <h1>The best 100% ecological surf gear in the world</h1>
        <a href="/shop" class="btn btn-secondary"> SHOP NOW </a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Categories</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">1</div>
            <div class="col-md-4">2</div>
            <div class="col-md-4">3</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/categories" class="btn btn-danger">See More</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id veniam, quibusdam quia ipsa eaque ea eligendi labore? Id, voluptatibus laudantium?</p>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <ul>
                    <li>
                        <div>Lorem ipsum dolor sit amet.</div>
                        <div>Et sed quam perspiciatis praesentium.</div>
                        <div>Nostrum deleniti ipsum porro autem.</div>
                        <div>Harum iusto suscipit sapiente natus?</div>
                        <div>Itaque facilis illo corrupti ducimus?</div>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <img  width="100%"src="https://images.unsplash.com/photo-1520443240718-fce21901db79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80" alt="">
            </div>
        </div>
    </div>
   
</header>