<div class="container-fluid ">
  <div class="row">
    <h2 class="mt-3 ml-3">Manage your  Categories </h2>

<!--    <app-create-category-modal></app-create-category-modal>-->
    <table class=" ml-3 mlr-3 table table-bordered">
      <thead>
      <tr>
        <th scope="col"><button class="btn btn-success" routerLink="/admin/category/create">Add Category</button></th>
        <th scope="col">Category Name</th>
        <th scope="col">Description Excerpt</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories | async">
        <th scope="row">{{category._id}}</th>
        <td>{{category.name}}</td>
        <td>{{category.exerpt}}</td>
        <td>
          <button class="btn btn-success"  [routerLink]="['/admin/category/edit',category.name]">Edit</button>
        </td>
        <td>
          <form (submit)="onDelete(category._id)">
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
