<div class="container">
    <div class="row">
        <div *ngFor="let category of categories" class="col-md-3">
           
            <div class="card" style="width: 18rem;">
              <a href="/categories/{{category.id}}">
                <img src={{category.image}} class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                  <h5 class="card-title"> {{category.title}}</h5>
                  <p class="card-text"> {{category.exerpt}}</p>
                </div>
              </div>
        </div>
    </div>
</div>