<div class="container-fluid">
  <h2 class="mt-3">Manage your E-Commerce</h2>
  <h4>This panel will allow you to manage your users , products , order and categories !</h4>
  <div class="row">
    <div class="col-md-6">

        <div class="card mt-5">
          <div class="card-header">
            Categories
          </div>
          <div class="card-body">
            <h5 class="card-title">Manage your Categories</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a routerLink="/admin/dashboard/categories" class="btn btn-primary">Manage</a>
          </div>

      </div>


    </div>
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header">
          Products
        </div>
        <div class="card-body">
          <h5 class="card-title">Manage your Products</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/admin/dashboard/products" class="btn btn-primary">Manage</a>
        </div>
      </div>
    </div>
  </div>
</div>
